In [54]:
from haversine import haversine
import pandas as pd

In [55]:
# 위경도
A = [34.7913294,126.3766487]
B = [34.7921333,126.4257616]

In [56]:
# 거리계산
haversine(A, B, unit = 'km')

4.485728951697647

In [57]:
#사용 데이터 읽어오기
mok = pd.read_csv('./data/목포_관광지_1.csv',
                               encoding='utf-8')

In [58]:
mok

,Unnamed: 0,관광지이름,주소,위도,경도
0,0,유달산,목포시 유달로 180,34.791329,126.376649
1,1,갓바위,전라남도 목포시 용해동 산86-24,34.792133,126.425762
2,2,목포근대역사관,전라남도 목포시 영산로29번길 6 문화원 목포 근대역사관 1관(구 목포일본영사관),34.787514,126.382130
3,3,국립 해양 문화재 연구소 해양박물관,전라남도 목포시 남농로 136,34.792173,126.421745
4,4,목포대교,고하대로597번길 73,34.801993,126.364272
5,5,목포 자연사박물관,전라남도 목포시 용해동 남농로 135,34.793655,126.421087
6,6,국립해양유물전시관,전라남도 목포시 용해동 8,34.792173,126.421745
7,7,유달산 조각공원,전라남도 목포시 죽교동 120,34.794716,126.373541
8,8,김대중 노벨평화상 기념관,전라남도 목포시 만호동 삼학로92번길 68,34.782840,126.392330
9,9,목포 문화원,전라남도 목포시 목원동 해안로249번길 34,34.788818,126.386218

In [72]:
d = []
for i in range(0,len(mok['위도'])) :
    d.append(mok['위도'][i])
    d.append(mok['경도'][i])

In [73]:
haversine((d[0],d[1]), (d[2],d[3]), unit = 'km')

4.485728951697647

In [134]:
s_d = []
s_ij = []

In [135]:
for i in range(0,len(mok['위도'])*2-1,+2) :
    short_distance = 10000000
    for j in range(0,len(mok['위도'])*2-1,+2) :
        if ((d[i],d[i+1])==(d[j],d[j+1])) :
            continue
        elif ((haversine((d[i],d[i+1]), (d[j],d[j+1]), unit = 'm'))<short_distance):
            short_distance = int(haversine((d[i],d[i+1]), (d[j],d[j+1]), unit = 'm'))
            ii = i
            jj = j
    s_d.append(short_distance)
#     if (ii == 0) :
#         s_ij.append(ii)
#     else :
#         ii = ii/2
#         s_ij.append(ii)
    if (jj == 0) :
        s_ij.append(jj)
    else :
        jj = int(jj/2)
        s_ij.append(jj)

In [136]:
s_d

[471, 366, 400, 175, 1170, 175, 175, 471, 867, 400]

In [137]:
s_ij

[7, 3, 9, 5, 7, 3, 5, 0, 9, 2]

In [138]:
mok['최단거리'] = s_ij

In [139]:
mok['최단거리m'] = s_d

In [132]:
mok.drop(['최단거리km'], axis=1, inplace=True)

In [140]:
mok

,Unnamed: 0,관광지이름,주소,위도,경도,최단거리,최단거리m
0,0,유달산,목포시 유달로 180,34.791329,126.376649,7,471
1,1,갓바위,전라남도 목포시 용해동 산86-24,34.792133,126.425762,3,366
2,2,목포근대역사관,전라남도 목포시 영산로29번길 6 문화원 목포 근대역사관 1관(구 목포일본영사관),34.787514,126.382130,9,400
3,3,국립 해양 문화재 연구소 해양박물관,전라남도 목포시 남농로 136,34.792173,126.421745,5,175
4,4,목포대교,고하대로597번길 73,34.801993,126.364272,7,1170
5,5,목포 자연사박물관,전라남도 목포시 용해동 남농로 135,34.793655,126.421087,3,175
6,6,국립해양유물전시관,전라남도 목포시 용해동 8,34.792173,126.421745,5,175
7,7,유달산 조각공원,전라남도 목포시 죽교동 120,34.794716,126.373541,0,471
8,8,김대중 노벨평화상 기념관,전라남도 목포시 만호동 삼학로92번길 68,34.782840,126.392330,9,867
9,9,목포 문화원,전라남도 목포시 목원동 해안로249번길 34,34.788818,126.386218,2,400

In [141]:
mok.to_csv('목포_관광지_1_거리.csv')